@page "/userpage/personalinfo"
@using Core
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject AppState State

<div class="padding-div" @onkeydown="@Enter">
<h1>Your personal information</h1>

<div class="form-group">
    <label for="studentEmail"> Please enter your preferred e-mail adress</label>
     <input type="email" class="form-control" id="studentEmail" placeholder="name@example.com" @bind="@Student.Email">
</div>
<div class="form-group">
    <label for="studentDOB"> Please select your date of birth</label>
    <input type="date" class="form-control" id="studentDOB" @bind="@Student.DOB">
</div>
<div class="form-group">
    <label for="studentUni">Please select your university</label>
    <select class="form-control" id="studentUni" @bind="@Student.University">
      @foreach (var uni in Enum.GetValues(typeof(UniversityEnum)))
        {
            <option>@uni</option>
        }
    </select>
</div>
<div class="form-group">
    <label for="studentDegree">Please select your degree</label>
    <select class="form-control" id="studentDegree" @bind="@Student.Degree">
      @foreach (var deg in Enum.GetValues(typeof(DegreeEnum)))
        {
            <option>@deg</option>
        }
    </select>
</div>
<br>
<button class="btn button" @onclick="Return">Submit</button>
</div>

@code{
    public int UserId {get; set;}
    private StudentDTO Student;
    protected override async Task OnInitializedAsync()
    {
        UserId = State.UserId;
        if (UserId != 0)
        {
            Student = await Http.GetFromJsonAsync<StudentDTO>($"api/Students/{UserId}");
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Return();
        }
    }
    private async void Return(){
        await Http.PutAsJsonAsync($"api/Students/{UserId}", Student);

        var uri = $"{NavigationManager.BaseUri}userpage";
        NavigationManager.NavigateTo(uri); 
    }
}