@page "/details/{projectId:int}"
@using Core
@inject NavigationManager NavigationManager
@inject HttpClient Http

 <button class="btn button" @onclick="Return">Back to projects</button>
 <h5><b>Name: </b>@project.Name</h5>
 <h5><b>Id: </b>@project.Id</h5>
 <h5><b>Due date: </b>@project.DueDate</h5>
 <h5><b>Meeting day: </b>@project.Meetingday</h5>
 <h5><b>Inteded work hours: </b>@workHours[@project.IntendedWorkHours]</h5>
 <h5><b>Language: </b>@project.Language</h5>
 <h5><b>Location: </b>@project.Location</h5>
 <h5><b>Skill requirement: </b>@project.SkillRequirementDescription</h5>
 <h5><b>Supervisor: </b>@project.SupervisorName</h5>
 <h5><b>IsThesis: </b>@project.IsThesis</h5>
 <table class='table'>
        <thead>
            <tr>
                <th><h5><b>Keywords</b></h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (string keyword in @project.Keywords)
            {
                <tr>
                    <td><h5>@keyword</h5></td>
                </tr>
            }
        </tbody>
    </table>


 @code{
    [Parameter]
    public int ProjectId { get; set; }

    private ProjectDTO project;

    string[] workHours = new string[]{"less than 15 hours", "between 15 and 25 hours", "over 25 hour"};


    protected override async Task OnParametersSetAsync()
    {
        project.Keywords = new List<string>();
        if (ProjectId != 0)
        {
            project = await Http.GetFromJsonAsync<ProjectDTO>($"api/Projects/{ProjectId}");
        }

        await base.OnParametersSetAsync();
    }

     private void Return(){
         var uri = $"{NavigationManager.BaseUri}home";
        NavigationManager.NavigateTo(uri);
     }
 }