@using Core
@using Microsoft.AspNetCore
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AppState State

@page "/userpage"
@inject NavigationManager NavigationManager

<div class="padding-div">
<PageTitle>User Page</PageTitle>

<h1>User Page</h1>
<br>
<h3>Your information</h3>

<table style="width:50%">
  <tr>
    <th>Name</th>
    <AuthorizeView>
        <Authorized>
            <td>@context.User.Identity?.Name</td>
        </Authorized>
    </AuthorizeView>
  </tr>
  <tr>
    <th>ID</th>
    <td>@Student.Id</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>@Student.Email</td>
  </tr>
  <tr>
    <th>Date Of Birth</th>
    <td>@Student.DOB.ToShortDateString()</td>
  </tr>
  <tr>
    <th>University</th>
    <td>@Student.University</td>
  </tr>
  <tr>
    <th>Degree</th>
    <td>@Student.Degree</td>
  </tr>
</table>

<br>
<button class="btn button" @onclick="Edit">Edit your personal information</button>
<br>

<br>
<h3>Your project preferences</h3>
<p>Click on the button to start creating your preferences</p>
<button class="btn button" @onclick="Preferences">Start</button>
</div>

@code{
  public int UserId {get; set;}

  private StudentDTO Student;

  protected override async Task OnInitializedAsync()
    {
      if (!State.LoggedIn) {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}home");
      }
        UserId = State.UserId;
        if (UserId != 0)
        {
            Student = await Http.GetFromJsonAsync<StudentDTO>($"api/Students/{UserId}");
        }
  }
  private void Edit(){
    var uri = $"{NavigationManager.BaseUri}userpage/personalinfo";
    NavigationManager.NavigateTo(uri);
  }

  private void Preferences(){
    var uri = $"{NavigationManager.BaseUri}userpage/preferences";
    NavigationManager.NavigateTo(uri);
  }
}